obj
bin
*.user
*.suo
/packages
App_Data
/KCYPanoServer/_data
/KCYPanoServer/_files
/KCYPanoServer/_save
/KCYPanoServer/_tiles
/KCYPanoServer/_tools
/KCYPanoServer/_olddata
/KCYPanoServer/static/chrome.rar
