<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings >
    <add key = "mapurl" value = "http://mt1.google.cn/vt/lyrs=s&amp;hl=en&amp;x={0}&amp;y={1}&amp;z={2}" />
    <add key = "panoaddurl" value = "http://localhost:14032/Pano/Add" />
    <add key = "panobuildurl" value = "http://localhost:14032/Pano/Build" />
    <add key = "panolist" value = "http://localhost:14032/Pano/PanoList" />
    <add key = "panoremove" value = "http://localhost:14032/Pano/PanoRemove" />
    <add key = "panorestore" value = "http://localhost:14032/Pano/PanoRestore" />
    <add key = "panodel" value = "http://localhost:14032/Pano/PanoDel" />
  </appSettings >
</configuration>